*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/.idea/.gitignore
app/.gitignore
app/.idea/modules.xml
app/.idea/misc.xml
app/.idea/gradle.xml
app/build/generated/
.idea/
app/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
app/build/